$color: #19414d;
$color2: #5b8a76;
$color3: #d4b869;

// #shapes {
//     height: 100vh;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//     grid-template-rows: 1fr 1fr;
//     grid-template-areas:
//    "1 2 3 4 5"
//    "6 7 8 9 10"

//   }

  @for $i from 1 through 100 {
    $width: percentage(1 / $i);
    
    #b_#{$i} {
        grid-area: $i;
        background: lighten($color, $i + 0%); 
    }
}

  .block {
    // border: 5px solid black;
    height: 1vh;
    /* margin: -5px; */
    transition: all 2s ease-in;
  }

  .move {
    &-right{
    transition: all 20s ease-in-out;
    transform: rotate(180deg);
    background: $color2 !important;
    }
    &-left{
    transition: all 20s ease-in-out;
    transform: rotate(-180deg);
    background: $color3 !important;
    }
  }

//   .block:hover{
//     background: white !important;
//   }
  
  